name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: apt install
      run: sudo apt-get update && sudo apt-get install -y liblzma-dev
    - uses: actions/checkout@v4
    - name: Build slim
      run: cargo build --no-default-features --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build release
      run: cargo build --release --verbose
    - name: Upload artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        name: ffbuildtool-linux
        path: target/release/ffbuildtool
        if-no-files-found: error
  build-windows:
    runs-on: windows-latest
    steps:
    - name: vcpkg install
      run: vcpkg install liblzma:x64-windows-static-md
    - name: vcpkg integrate
      run: vcpkg integrate install
    - uses: actions/checkout@v4
    - name: Build slim
      run: cargo build --no-default-features --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build release
      run: cargo build --release --verbose
    - name: Upload artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        name: ffbuildtool-windows
        path: |
          target/release/ffbuildtool.exe
          target/release/ffbuildtool.pdb
        if-no-files-found: error
      
